/*

Author: Tarsem Bhachu
Version: 1.0
Description: This file applies various styles to fonts,
backgrounds and elements.

*/

/* ------------------- Colors ------------------ */


#body {
    background-color: bisque;
}

.navbar {
    background-color: rgb(34, 34, 34);
}

/* ----------------- Navbar --------------------  */
.navbar {
    height: 110px;
}

.navbar-nav {
    margin-right: 100px;
}

#navLogo {
    height: 100px;
    padding-left: 30px;
}

/* -------------- Background Image ----------------  */
#backgroundImg {

    display: table;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/DarbarSahib.jpg');
    background-size: cover;
    height: 700px;

}

#showcaseImg {
    padding: 20px;
    width: 300px;
}

div.mainTitle {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* ------------------- Form ------------------  */

div.mainRegister {
    width: 400px;
    margin-bottom: 40px;
}

h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

div.register {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color:#fff;
}

form#register {
    margin: 40px;
}

label {
    font-family: sans-serif;
    font-size: 18px;
}

input.name {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}

button {
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 3px;
    background-color: rgba(36, 145, 255, 0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition-duration: 0.4s;
}

button:hover {
    background-color: #3babe7; /* Green */
    color: white;
}

.s2 {
    width: 500px;
    margin-bottom: 15px;

    background-color: rgba(0,0,0,0.5);

    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color:#fff;
}

#raags-list {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color:#fff;
}