/*
SDEV 372
Green River College

Description: This file applies various styles to fonts,
backgrounds and elements.

author: Tarsem Bhachu
version: 1.0

*/

/* -------------- Background Image ----------------  */
#body {
    background-color: bisque;
}

#backgroundImg {
    display: table;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/DarbarSahib.jpg');
    background-size: cover;
    height: 700px;
}

#showcaseImg {
    padding: 20px;
    width: 300px;
}

div.mainTitle {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* ----------------- Navbar --------------------  */
.navbar {
    background-color: rgb(34, 34, 34);
    height: 110px;
}

.navbar-nav {
    margin-right: 100px;
}

#navLogo {
    height: 100px;
    padding-left: 30px;
}

/* ------------------- Form ------------------  */
.s1-popup {
    background-color: rgba(0,0,0,0.5);
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

div.mainRegister {
    width: 400px;
    margin-bottom: 40px;
}

h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

div.register {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color:#fff;
}

form#register {
    margin: 40px;
}

.form-control {
    color: white;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    background-color: rgba(0,0,0,0);
    border: none;
}

label {
    font-family: sans-serif;
    font-size: 18px;
}

input.name {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);

}

button {
    width: 100%;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 3px;
    background-color: rgba(36, 145, 255, 0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition-duration: 0.4s;
}

button:hover {
    background-color: #3babe7;
    color: white;
}



#raags-list {
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color:#fff;
}

#instruments-list {
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color:#fff;
}

select {
    width: 100%;
}


/* --------- Successful Submit Page ------------------  */
.popup {
    width: 500px;
    background: #fff;
    border-radius: 7px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #4b96e1;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.popup button:hover {
    background-color: #3babe7;
    color: white;
}